// Variables
$primary-color: #007acc;
$secondary-color: #3a82ff;
$text-color-light: white;
$nav-background: #333;
$hover-color: #e1e1e1;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-background;
  padding: 15px;
  color: $text-color-light;

  .nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $secondary-color;
  }

  .nav-links {
    display: flex;
    align-items: center;

    .nav-link {
      margin: 0 15px;
      color: $text-color-light;
      text-decoration: none;
      position: relative;
      font-size: 1.1rem;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color;

        &::before {
          width: 100%;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $secondary-color;
        transition: width 0.3s ease;
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;

    .bar {
      width: 100%;
      height: 3px;
      background-color: $text-color-light;
      transition: all 0.3s ease;

      &.open {
        background-color: $secondary-color;
      }
    }
  }

  // Responsive styles for small screens
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: $nav-background;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;

      &.open {
        display: flex;
      }

      .nav-link {
        margin: 10px 0;
      }
    }

    .hamburger {
      display: flex;
    }
  }
}
